{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

    <h1>Lista de Pilotos</h1>
    <ul>        
        {% for piloto in pilotos %}
            <li>
                {{ piloto }}
            </li>
            <div style="display: flex; column-gap: 5px;">
                <form action="{% url 'EliminaPiloto' piloto.id %}" method="POST">{% csrf_token %}
                    <button type="submit"> Eliminar </button>
                </form>
                <button type="submit">
                    <a href="{% url 'EditarPiloto' piloto.id %}">Editar</a>
                </button>
            </div>
        {% endfor %}    
    </ul>
    <a href="{% url 'CreaPiloto' %}">Añadir otro Piloto</a>

{% endblock contenidoQueCambia %}