<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <div style="padding-right: 150px;"> 
            <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
        </div>
        <a class="navbar-brand" href="{% url 'Piloto' %}">Piloto</a>
        <a class="navbar-brand" href="{% url 'Avion' %}">Avion</a>
        <a class="navbar-brand" href="{% url 'Pasajero' %}">Pasajero</a>
        <a class="navbar-brand" href="{% url 'PlanDeVuelo' %}">Plan De Vuelo</a>
        <a class="btn btn-primary" href="#signup">Iniciar</a>
    </div>
</nav>