{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

<p>Estas buscando el avion con la matricula: </p>
            <ul><li>  {{matricula}} </li></ul>

    {% if aviones %}
        <ul>   
            {% for avion in aviones %}
                <li> 
                    {{avion.marca}} - {{avion.matricula}}
                </li>           
            {% endfor %}
                    
        </ul>
    {% else %}
        <p>No se encontro ninguna matricula: {{matricula}}.</p>
    {% endif %} 

{% endblock contenidoQueCambia %}